<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<title>分类管理</title>
	<head th:replace="include/head"/>
	<script type="text/javascript" th:src="@{{path}/js/jquery/jquery.json-2.2.js(path=${basePath})}"></script>
	<script type="text/javascript" th:src="@{{path}/js/jquery-flexigrid/flexigrid.js(path=${basePath})}"></script>
	<script type="text/javascript" th:src="@{{path}/js/My97DatePicker/WdatePicker.js(path=${basePath})}"></script>
	<script type="text/javascript" th:src="@{{path}/js/jquery-ztree/jquery.ztree.core-3.5.js(path=${basePath})}"></script>
	<script type="text/javascript" th:src="@{{path}/js/jquery-ztree/jquery.ztree.excheck-3.5.js(path=${basePath})}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{{path}/js/jquery-flexigrid/css/gray/flexigrid.css(path=${basePath})}"/>
	<link rel="stylesheet" type="text/css" th:href="@{{path}/js/jquery-ztree/zTreeStyle3.5/zTreeStyle.css(path=${basePath})}"/>
</head>
<body>
<div class="searchTopDiv">
	<div class="toolItem" style="width:1450px;">
		<div class="toolDiv bg_cde3ff tc clearb">
			<strong class="smallTitle">分类管理</strong>
		</div>
		<div class="clearb pTB10">
			<table  id="addDiv" class="tablePopC" cellspacing="0" cellpadding="0">
				<tr>
					<td style="width:100px; text-align:right;">分类名称：</td>
					<td id="searchTd" ><input id="SearchInput" class="inputTex" type="text" value=""/></td>
					<td>
						<div class="fl">
							<a id="SearchButton" class="bthBlueDeep mgL10" href="javascript:;" onclick="searchBySearchInput();"><i class="bthIco icoZoom"></i>查询</a>
							<a class="bthBlueDeep mgL10" href="javascript:;" onclick="resetSearch()">重置</a>
						</div>
						<div  class="fl mgL10 borL_ddd">
							<a class="bthBorderBluePop mgL10" href="javascript:;" onclick="showAddOrEditDiv('add')"><i class="bthIco icoAddZoom"></i>新增</a>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div><table id="TableFlexiGrid"></table></div>
	</div>
</div>

<!-- 添加/修改分类Div -->
<div id="AddOrEditDiv" style="width:450px; display: none;">
	<div class="popPor">
		<div class="popTitle">
			<h2 class="titleH2 fl"><span id="AddOrEditDivTitle"></span></h2>
			<a href="javascript:;" onclick="L.closeAll();" class="bthPop bthClosed fr"></a>
		</div>
		<!--<div class="popCon clearb" style="height: 100px;">-->
			<!--<table class="tablePopB" cellspacing="0" cellpadding="0">-->
				<!--<tr>-->
					<!--<th><em>*</em>分类名称：</th>-->
					<!--<td><input type="text" id="name" class="inputTex" style="width: 90%"/></td>-->
				<!--</tr>-->
			<!--</table>-->
		<!--</div>-->
		<div class="popCon clearb">
			<table class="tablePopB" cellspacing="0" cellpadding="0">
				<tr>
					<td style="height:80px;width:130px;" align="right"><em style="color: #9e0505">*</em><strong> 分类名称： </strong></td>
					<td  colspan="5" align="left">
						<input type="text" class="inputTex" id="name" style="height:30px;width: 93%;" value=""/>
					</td>
				</tr>
			</table>
		</div>
		<div class="popBot p10 tr">
			<input on id="AddOrEditDivConfirm" type="button" class="bthBluePop" value="确定"/>
			<input type="button" style="margin-left: 20px" class="bthWhitePop" value="取消" onclick="L.closeAll();"/>
		</div>
	</div>
</div>

<script type="text/javascript">

	var urlPath = path + "/appAnimalClassify/appAnimalClassify_";
	var addPath="addAppAnimalClassify";
	var deletByIdPath="deleteAppAnimalClassifyById";
	var updatePath="updateAppAnimalClassifyById";
	var flexigridPath="searchAppAnimalClassifyFG";
	var getBeanByIdPath="getAppAnimalClassifyById";
	var total=0;
	var globalReturnFlag = -1;
	$(document).ready(function () {
		//加载数据
		initTableFlexiGrid();
	});
	$("#searchTd").keypress(function(event) {
		if (event.which == "13") {//keyCode=13是回车键
			$('#SearchButton').click();
		}
	});

	function change_num(id,newNum) {
		$.ajax({
			url: urlPath + "changeOrderNum?tmp=" + Math.round(Math.random() * 100000),
			data: {id: id,newNum: newNum},
			type: "post",
			dataType: "json",
			beforeSend: function () {
				L.loading(loadType);
			},
			success: function (data) {
				L.loadingOff();
				if (ajaxResponseValidate(data)) {
					if (data.code < 1) {
						L.msg.error(data.message);
					} else {
						L.msg.success({content:data.message,time:1000,position:'center'});
						$("#TableFlexiGrid").flexReload();
					}
				}
			},
			error: function () {
				L.msg.error("[(${ajaxErrorInfo})]");
				L.loadingOff();
			}
		});
	}
	function myrefresh()
	{
		window.location.reload();
	}

	function initTableFlexiGrid() {
		$("#TableFlexiGrid").flexigrid({
			url: urlPath + flexigridPath+"?tmp=" + Math.round(Math.random() * 100000),
			dataType: 'json',
			rp: 10,
			useRp: false,
			colModel: [
				{
					display: '序号',
					name: 'xuhao',
					width: "80",
					align: 'left',
					render: function (val, row,data) {
						var content = row.idx;
						var html="";
						if (content!=null&&content!=""){
							for (var i=1;i<=data.total;i++){
								if (i!==content-0){
									html+="<option  value=" +i+
										">" +i+
										"</option>"
								}else {
									html+="<option selected='selected' value=" +i+
										">" +i+
										"</option>"
								}
							}
							return "<select  class='table_Select' style='width:80%' onchange='change_num(\"" + row.aacid + "\",this.options[this.options.selectedIndex].value)'>" + html + "</select>";
						}else {
							return row.idx;
						}

					}
				},
				{
					display: '分类名称',
					width: "270",
					align: 'center',
					render: function (val, row) {
						var content = stringFilter(row.aacname);
						return "<span style=\"word-break: break-all; word-wrap: break-word; display: block;\">"+content+"</span>";
					}
				},
				{
					display: '操作',
					width: "250",
					align: 'center',
					render: function (val, row) {
						var result = "";
							result += "<input  type='button' class='bthBlueOper' value='修改' onclick='showAddOrEditDiv(\"edit\", \"" + row.aacid + "\")'/>";
							result += "<input type='button' class='bthBlueOper mgL10' value='删除' onclick='deleteLocation(\"" + row.aacid + "\",\"" + row.aacname +"\")'/>";
						return result;
					}
				},
				{
					display: '创建人/创建时间',
					width: "110",
					align: 'center',
					render: function (val, row) {
						var userName = row.tmp_creatorName == null ? "" : row.tmp_creatorName;
						var createtime = row.createtime == null ? "" : row.createtime.substring(0, 19);
						return userName + "</br>" + createtime;
					}
				},
				{
					display: '更新人/更新时间',
					width: "110",
					align: 'center',
					render: function (val, row) {
						var userName = row.tmp_updateUserName == null ? "" : row.tmp_updateUserName;
						var updateTime = row.updatetime == null ? "" : row.updatetime.substring(0, 19);
						return userName + "</br>" + updateTime;
					}
				}
			],
			width: "auto",
			height: "auto",
			sortname : "idx",
			sortorder : "asc",
			showToggleBtn: true,
			showTableToggleBtn: true,
			onSubmit: function () {
				L.loading(loadType);
				return true;
			},
			onSuccess: function (grid, data) {
				var search = $.trim($("#SearchInput").val());
				if (!search.length > 0) {
					total= data.total;
				}

				L.loadingOff();
				return true;
			},
			onError: function () {
				L.msg.error("[(${ajaxErrorInfo})]");
				L.loadingOff();
				return true;
			}
		});
	}
	/** 重置查询分类  */
	function resetSearch() {
		$("#SearchInput").val("");
		var params = [];
		$("#TableFlexiGrid").flexOptions({
			newp: 1,
			addparams: params
		}).flexReload();
		$("#TableFlexiGrid").flexToggleCol (0, true);
	}

	/** 查询  */
	function searchBySearchInput() {
		var params = [];
		var search = $.trim($("#SearchInput").val());
		if (search.length > 0) {
			params.push({name: "aacname", value: search});
			//带上参数 谢谢
			$("#TableFlexiGrid").flexOptions({
				newp: 1,
				addparams: params
			}).flexReload();
			$("#TableFlexiGrid").flexToggleCol (0, false);
		}else{
			L.msg.warn({content:'请输入查询参数',time:1500,position:'center'});
		}

	}


	/** 重置分类添加表单  */
	function resetLocationDiv() {
		$("#name").removeAttr('disabled').removeClass("textGrayColor");
		$("#AddOrEditDiv").find("input[type='text']").val("");
		$("#AddOrEditDiv").find("textarea").val("");
	}

	/** 弹出分类添加/编辑页面*/
	function showAddOrEditDiv(model, id) {
		resetLocationDiv();
		if(model == "add"){
			$("#AddOrEditDivTitle").text("添加分类");
			$("#AddOrEditDivConfirm").unbind();
			$("#AddOrEditDivConfirm").click(function () {
				addBean();
			});
			L.pop({content:'#AddOrEditDiv'});
			$("#name").focus();

		}else if(model == "edit"){
			$.ajax({
				url: urlPath + getBeanByIdPath+"?tmp=" + Math.round(Math.random() * 100000),
				data: { id: id },
				type: "post",
				dataType: "json",
				beforeSend: function () {
					L.loading(loadType);
				},
				success: function (data) {
					if (ajaxResponseValidate(data)) {
						if (data.code < 1) {
							L.msg.error(data.message,function(){L.loadingOff();});
							$("#TableFlexiGrid").flexReload();
						} else {
							var obj = data.data;
							$("#AddOrEditDivTitle").text("修改");
							$("#selectTr").removeAttr('disabled');
							$("#name").val(obj.aacname);

							$("#AddOrEditDivConfirm").unbind();
							keyDownAction(function (event) {
								if (event.which == "13"){
									editBean(obj.aacid, obj);
								}
							});
							$("#AddOrEditDivConfirm").click(function () {
								editBean(obj.aacid, obj);
							});
							L.loadingOff();
							L.pop({content:'#AddOrEditDiv'});
						}
					}
				},
				error: function () {
					L.msg.error("[(${ajaxErrorInfo})]");
					L.loadingOff();
				}
			});
		}
	}

	/** 添加  */
	function addBean() {
		var bean = {};
		var result = checkBeanForm("add", bean, null);
		if(globalReturnFlag==result){
			return false;
		}else if(false==result){
			L.closeAll();
			return false;
		}
		$.ajax({
			url: urlPath + addPath+"?tmp=" + Math.round(Math.random() * 100000),
			data: bean,
			type: "post",
			dataType: "json",
			beforeSend: function () {
				L.closeAll();
				L.loading(loadType);
			},
			success: function (data) {
				L.loadingOff();
				if (ajaxResponseValidate(data)) {
					if (data.code < 1) {
						L.msg.error(data.message,function(){L.pop({content:'#AddOrEditDiv'});});
					} else {
						var mesaage = data.message+(null!=data.data?data.data:"");
						L.msg.success({content:mesaage,time:1000,position:'center'});
						$("#TableFlexiGrid").flexReload();
					}
				}
			},
			error: function () {
				L.msg.error("[(${ajaxErrorInfo})]");
				L.loadingOff();
			}
		});
	}

	/** 修改  */
	function editBean(Id, oldBean) {
		var bean = {};
		var result = checkBeanForm("edit", bean, oldBean);
		if(globalReturnFlag==result){
			return false;
		}else if(false==result){
			L.closeAll();
			return false;
		}
		bean["aacid"] = Id;
		$.ajax({
			url: urlPath + updatePath+"?tmp=" + Math.round(Math.random() * 100000),
			data: bean,
			type: "post",
			dataType: "json",
			beforeSend: function () {
				L.closeAll();
				L.loading(loadType);
			},
			success: function (data) {
				L.loadingOff();
				if (ajaxResponseValidate(data)) {
					if (data.code < 1) {
						L.msg.error(data.message,function(){L.pop({content:'#AddOrEditDiv'});});
					} else {
						L.msg.success({content:data.message,time:1000,position:'center'});
						$("#TableFlexiGrid").flexReload();
					}
				}
			},
			error: function () {
				L.msg.error("[(${ajaxErrorInfo})]");
				L.loadingOff();
			}
		});
	}

	/** 删除 */
	function deleteLocation(Id, realName,orderNum) {
		L.msg.confirm({content:"确定要删除 [" + realName + "] 吗？",yes:function(){
				$.ajax({
					url: urlPath + deletByIdPath+"?tmp=" + Math.round(Math.random() * 100000),
					data: {id: Id,orderNum: orderNum},
					type: "post",
					dataType: "json",
					beforeSend: function () {
						L.loading(loadType);
					},
					success: function (data) {
						L.loadingOff();
						if (ajaxResponseValidate(data)) {
							if (data.code < 1) {
								L.msg.error(data.message);
							} else {
								L.msg.success({content:data.message,time:1000,position:'center'});
								$("#TableFlexiGrid").flexReload();
							}
						}
					},
					error: function () {
						L.msg.error("[(${ajaxErrorInfo})]");
						L.loadingOff();
					}
				});
			}});
	}


	//验证添加/检查表单数据
	function checkBeanForm(mode, objBean, oldBean){
		var name = $.trim($("#name").val());
		var message = "";
		var changed = ("add"==mode);
		var modeFlag = ("edit"==mode);
		//开始验证参数
			message = checkStrParam(name, 10, false);
			if(""!=message){
				L.msg.error("分类名称"+message); return globalReturnFlag;
			}

		objBean["aacname"] = name;
		if (modeFlag && !changed){
			if (name != oldBean.aacname) {changed = true; }
		}
		return changed;
	}

	/*]]>*/
</script>
</body>
</html>