<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<title>参照物管理</title>
	<head th:replace="include/head"/>
	<script type="text/javascript" th:src="@{{path}/js/jquery/jquery.json-2.2.js(path=${basePath})}"></script>
	<script type="text/javascript" th:src="@{{path}/js/jquery-flexigrid/flexigrid.js(path=${basePath})}"></script>
	<script type="text/javascript" th:src="@{{path}/js/mJs/ajaxfileupload.js(path=${basePath})}"></script>
	<script type="text/javascript" th:src="@{{path}/js/My97DatePicker/WdatePicker.js(path=${basePath})}"></script>
	<script type="text/javascript" th:src="@{{path}/js/jquery-ztree/jquery.ztree.core-3.5.js(path=${basePath})}"></script>
	<script type="text/javascript" th:src="@{{path}/js/jquery-ztree/jquery.ztree.excheck-3.5.js(path=${basePath})}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{{path}/js/jquery-flexigrid/css/gray/flexigrid.css(path=${basePath})}"/>
	<link rel="stylesheet" type="text/css" th:href="@{{path}/js/jquery-ztree/zTreeStyle3.5/zTreeStyle.css(path=${basePath})}"/>
</head>
<body>
<div class="searchTopDiv">
	<div class="toolItem" style="width:1800px;">
		<div class="toolDiv bg_cde3ff tc clearb">
			<strong class="smallTitle">参照物管理</strong>
		</div>
		<div class="clearb pTB10">
			<table id="addDiv" class="tablePopC" cellspacing="0" cellpadding="0">
				<tr>

					<td style="width:80px; text-align:right;">名称：</td>
					<td id="searchTd" ><input id="searchInputTex" class="inputTex" type="text" value=""/></td>
					<td style="width:80px; text-align:right;">类型：</td>
					<td><select id="search_type" class="popSel" style="width:100px;" onchange="searchBySearchInput()">
						<option value="0">全部</option>
						<option value="1">重量</option>
						<option value="2">长度</option>
						<option value="3">高度</option>
					</select></td>
					<td></td>
					<td>
						<div class="fl">
							<a id="SearchButton" class="bthBlueDeep mgL10" href="javascript:;" onclick="searchBySearchInput();"><i class="bthIco icoZoom"></i>查询</a>
							<a class="bthBlueDeep mgL10" href="javascript:;" onclick="resetSearch()">重置</a>
						</div>
						<div  class="fl mgL10 borL_ddd">
							<a class="bthBorderBluePop mgL10" href="javascript:;" onclick="showAddOrEditDiv('add')"><i class="bthIco icoAddZoom"></i>新增</a>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div><table id="TableFlexiGrid"></table></div>
	</div>
</div>
<!-- 上传图片Div -->
<div id="uploadImageDiv" style="display: none;">
	<div class="popPor w560">
		<div class="popTitle">
			<h2 class="titleH2 fl"><span id="uploadImageDivTitle">上传图片</span></h2>
			<a href="javascript:;" onclick="L.closeCurrentDIV();" class="bthPop bthClosed fr"></a>
		</div>
		<div>
			<table class="tablePopB" cellspacing="0" cellpadding="0">
				<tr>
					<td ><input id="web_icon_image" type="file" placeholder="图片最大1M" name="file"/></td>
					<!--<th>宽高：<span th:text="${width}"></span>*<span th:text="${height}"></span></th>-->

				</tr>
			</table>
		</div>
		<div class="popBot p10 tr">
			<input  id="uploadImageDivConfirm" type="button" class="bthBluePop" value="确定"/>
			<input type="button" class="bthWhitePop" value="取消" onclick="L.closeCurrentDIV();" style="margin-left: 30px"/>
		</div>
	</div>
</div>
<!-- 添加/修改参照物Div -->
<div id="AddOrEditDiv" style="display: none;width:530px;">
	<div class="popPor w900">
		<div class="popTitle">
			<h2 class="titleH2 fl"><span id="AddOrEditDivTitle"></span></h2>
			<a href="javascript:;" onclick="L.closeAll();" class="bthPop bthClosed fr"></a>
		</div>
		<div class="popCon clearb">
			<table class="tablePopB" cellspacing="0" cellpadding="0">
				<tr id="image_local" >
					<td rowspan="1" id="td_image_show" style="width: 120px;height:80px;position:relative;">
						<input type="text" style="display: none" id="edit_imgurl">
						<img id="deletePicture" onclick="deleteWebIcon()" src="../style/images/shan.gif" style="position:absolute;right:0px;top:0px;cursor:pointer;"/>
						<img id="web_icon_show" style="max-width:120px;max-height:80px;"/>
					</td>
					<td rowspan="1">
						<input  id="" type="button" class="bthBluePop" onclick="showUploadImageDiv(1)" value="上传"/>
						<!--宽高：<span th:text="${width}"></span>*<span th:text="${height}"></span>-->
						宽：<span id="iconwidth">00</span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高:<span id="iconheight">00</span>
					</td>
				</tr>
				<tr>
					<td style="width:80px;" align="right"><em style="color: #9e0505">*</em><strong> 参照物名称： </strong></td>
					<td  colspan="5" align="left">
						<input type="text" class="inputTex" id="edit_name" style="width: 93%;height: 25px" value=""/>
					</td>
				</tr>
				<tr>
					<td style="width:80px;" align="right"><em style="color: #9e0505">*</em><strong> 数值： </strong></td>
					<td  colspan="5" align="left">
						<!--<input type="text" class="inputTex" id="edit_number" placeholder="请输入>0数字" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')"  style="width: 93%;height: 25px" value=""/>-->
						<input type="text" class="inputTex" id="edit_number" placeholder="请输入>0数字"  onblur="if (!/^\d+(\.\d+)?$/.test(this.value)){this.value='';}" step="0.01" style="width: 93%;height: 25px" value=""/>
					</td>
				</tr>
				<tr>
					<td style="width:80px;" align="right"><em style="color: #9e0505">*</em><strong> 测量类型： </strong></td>
					<td  colspan="5" align="left">
						<select id="edit_metering" onchange="changeUnit()" class="popSel" style="width: 93%;">
							<option value="1">重量</option>
							<option value="2">长度</option>
							<option value="3">高度</option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="width:80px;" align="right"><em style="color: #9e0505">*</em><strong> 单位： </strong></td>
					<td  colspan="5" align="left">
						<select id="edit_unit"  class="popSel" style="width: 93%;">
							<!--<option value="mg">毫克</option>-->
							<!--<option value="g">克</option>-->
							<!--<option value="kg">千克</option>-->
							<option value="t">吨</option>
						</select>
					</td>
					<!--<td  colspan="5" align="left">-->
						<!--<input type="text" class="inputTex" id="edit_unit" placeholder="质量：kg、t 长度：m、km" style="width: 93%;height: 25px" value=""/>-->
					<!--</td>-->
				</tr>
				<!--<tr>-->
					<!--<td style="width:80px;" align="right"><em style="color: #9e0505">*</em><strong> 单位： </strong></td>-->
					<!--<td  colspan="5" align="left">-->
						<!--<select id="edit_unit" class="popSel"  style="width: 93%;">-->
							<!--<option value="g">g</option>-->
							<!--<option value="kg">kg</option>-->
							<!--<option value="t">t</option>-->
							<!--<option value="mm">mm</option>-->
							<!--<option value="m">m</option>-->
							<!--<option value="t">km</option>-->
						<!--</select>-->
					<!--</td>-->
				<!--</tr>-->
			</table>
		</div>
		<div class="popBot p10 tr">
			<input  id="AddOrEditDivConfirm" type="button" class="bthBluePop" value="确定"/>
			<input type="button" class="bthWhitePop" value="取消" onclick="L.closeAll();" style="margin-left: 30px"/>
		</div>
	</div>
</div>
<script type="text/javascript">
	var urlPath = path + "/dinosaurReference/dinosaurReference_";
	var addPath="addDinosaurReference";
	var deletByIdPath="deleteDinosaurReferenceById";
	var updatePath="updateDinosaurReferenceById";
	var flexigridPath="searchDinosaurReferenceFG";
	var getBeanByIdPath="getDinosaurReferenceById";

	var total=0;
	var globalReturnFlag = -1;
	$(document).ready(function () {
		//加载数据
		initTableFlexiGrid();
		initFile("web_icon_image");
	});

	$("#searchTd").keypress(function(event) {
		if (event.which == "13") {//keyCode=13是回车键
			$('#SearchButton').click();
		}
	});
	function changeUnit() {
		var metering = $.trim($("#edit_metering").val());
		if (metering=='1'){
			$("#edit_unit").html("");
			// $("#edit_unit").append("<option value='mg'>毫克</option>");
			// $("#edit_unit").append("<option value='g'>克</option>");
			// $("#edit_unit").append("<option value='kg'>千克</option>");
			$("#edit_unit").append("<option value='t'>吨</option>");
		}else{
			$("#edit_unit").html("");
			// $("#edit_unit").append("<option value='cm'>厘米</option>");
			// $("#edit_unit").append("<option value='dm'>分米</option>");
			$("#edit_unit").append("<option value='m'>米</option>");
			// $("#edit_unit").append("<option value='km'>千米</option>");
		}
	}
	function showUploadImageDiv(flag) {
		$("#web_icon_image").val("");
		L.pop({content:'#uploadImageDiv'});
		$("#uploadImageDivConfirm").unbind('click');
		$("#uploadImageDivConfirm").click(function () {
			uploadActivityImage(flag);
		});
	}
	function uploadActivityImage(){
		var img=$("#web_icon_image").val();
		var suffixIndex=img.lastIndexOf(".");
		var suffix=img.substring(suffixIndex+1).toUpperCase();
		if (null==img||""==img){
			L.msg.error("请选择图片！");
		}else  if(img!=""&&suffix!="BMP"&&suffix!="JPG"&&suffix!="JPEG"&&suffix!="PNG"&&suffix!="GIF"){
			L.msg.error( "请上传图片（支持BMP、JPG、JPEG、PNG、GIF）!");
			return;
		}
		else{
			L.closeCurrentDIV();
			L.loading(loadType);
			$.ajaxFileUpload({
				url : urlPath +"uploadImage?&tmp=" + Math.round(Math.random() * 100000),
				type : "post",
				dataType : "json",
				timeout : 10000,
				fileElementId : "web_icon_image",// 文件的id
				success: function (str) {
					var data = str;
					L.loadingOff();
					if (ajaxResponseValidate(data)) {
						if (data.code < 1) {
							L.msg.error(data.message,function(){L.pop({content:'#uploadImageDiv'});});
						} else {
							var bean=data.data;
							L.closeCurrentDIV();
							L.msg.success({content:data.message,time:1000,position:'center'});
								//宣传图片回写
								$("#web_icon_show").attr("src",bean.icon);
								$("#edit_imgurl").val(bean.icon);
								$("#iconwidth").text(bean.iconwidth);
								$("#iconheight").text(bean.iconheight);
						}
					}
				},
				error: function () {
					L.msg.error("失败！请检查图片大小、格式");
					L.loadingOff();
				}
			});
		}

	}
	function initTableFlexiGrid() {
		var params = [];
		var search = $.trim($("#searchInputTex").val());

		if (search.length > 0) {
			params.push({name: "drname", value: search});
		}
		$("#TableFlexiGrid").flexigrid({
			url: urlPath + flexigridPath+"?tmp=" + Math.round(Math.random() * 100000),
			dataType: 'json',
			rp: 10,
			useRp: false,
			colModel: [
				{
					display: '序号',
					width: "100",
					align: 'center',
					render: function (val, row) {
						return row.drid;
					}
				},
				{
					display: '参照物名称',
					width: "120",
					align: 'center',
					render: function (val, row) {
						var content = stringFilter(row.drname);
						return "<span style=\"word-break: break-all; word-wrap: break-word; display: block;\">"+content+"</span>";
					}
				},
				{
					display: '数值',
					width: "100",
					align: 'center',
					render: function (val, row) {
						var n=row.number==null?'':row.number;
						return "<span style=\"word-break: break-all; word-wrap: break-word; display: block;\">"+n+"</span>";
					}
				},{
					display: '单位',
					width: "100",
					align: 'center',
					render: function (val, row) {
						var u=row.unit==null?'':row.unit;
						return "<span style=\"word-break: break-all; word-wrap: break-word; display: block;\">"+u+"</span>";
					}
				},{
					display: '类型',
					width: "100",
					align: 'center',
					render: function (val, row) {
						return row.metering=='1'?'重量':row.metering=='2'?'长度':'高度';
					}
				},
				{
					display : '图片',
					width : "150",
					align : 'center' ,
					render : function(val,row){
						if (null==row.icon||''==row.icon){
							return "";
						}else{
							return "<a href='"+row.icon+"' target='_blank'><img src='" + row.icon +" 'style='cursor:pointer;max-width:75px;max-height:75px;'/></a>";
						}
					}
				},
				{
					display: '操作',
					width: "200",
					align: 'center',
					render: function (val, row) {
						var result = "";
						result += "<input  type='button' class='bthBlueOper' value='修改' onclick='showAddOrEditDiv(\"edit\", \"" + row.drid + "\")'/>";
						result += "<input type='button' class='bthBlueOper mgL10' value='删除' onclick='deleteLocation(\"" + row.drid + "\",\"" + row.drname +"\")'/>";
						return result;
					}
				},
				{
					display: '创建人/创建时间',
					width: "110",
					align: 'center',
					render: function (val, row) {
						var userName=row.tmp_creatorName== null ?"":row.tmp_creatorName;
						var update=row.createtime== null ?"":row.createtime.substring(0, 19);
						return userName+"</br>"+update;
					}
				},
				{
					display: '更新人/更新时间',
					width: "110",
					align: 'center',
					render: function (val, row) {
						var userName=row.tmp_updateUserName== null ?"":row.tmp_updateUserName;
						var update=row.updatetime== null ?"":row.updatetime.substring(0, 19);
						return userName+"</br>"+update;
					}
				}
			],
			width: "auto",
			height: "auto",
			addparams:params,
			sortname : "createtime",
			sortorder : "desc",
			showToggleBtn: true,
			showTableToggleBtn: true,
			onSubmit: function () {
				L.loading(loadType);
				return true;
			},
			onSuccess: function (grid, data) {
				var search = $.trim($("#searchInputTex").val());
				if (!search.length > 0) {
					total= data.total;
				}
				L.loadingOff();
				return true;
			},
			onError: function () {
				L.msg.error("[(${ajaxErrorInfo})]");
				L.loadingOff();
				return true;
			}
		});
	}

	/** 重置查询参照物  */
	function resetSearch() {
		$("#searchInputTex").val("");
		$("#search_type").val("0");
		var params = [];
		$("#TableFlexiGrid").flexOptions({
			newp: 1,
			addparams: params
		}).flexReload();

	}

	/** 查询  */
	function searchBySearchInput() {
		var params = [];
		var search = $.trim($("#searchInputTex").val());
		var type = $.trim($("#search_type").val());

		if (search.length > 0) {
			params.push({name: "drname", value: search});
		}if (type.length > 0&&type!=0) {
			params.push({name: "metering", value: type});
		}
		//带上参数 谢谢
		$("#TableFlexiGrid").flexOptions({
			newp: 1,
			addparams: params
		}).flexReload();

	}

	/** 重置参照物添加表单  */
	function resetLocationDiv() {
		// $("#name").removeAttr('disabled').removeClass("textGrayColor");
		$("#web_icon_image").val("");
		$("#edit_imgurl").val("");
		$("#iconwidth").text('00');
		$("#iconheight").text('00');
		$("#edit_metering").val("1");
		$("#web_icon_show").removeAttr("src");
		$("#deletePicture").removeAttr("src");
		$("#AddOrEditDiv").find("input[type='text']").val("");
		$("#AddOrEditDiv").find("textarea").val("");
	}

	/** 弹出参照物添加/编辑页面*/
	function showAddOrEditDiv(model, id) {
		resetLocationDiv();
		if(model == "add"){
			$("#AddOrEditDivTitle").text("添加参照物");
			$("#AddOrEditDivConfirm").unbind();
			$("#AddOrEditDivConfirm").click(function () {
				addBean();
			});
			L.pop({content:'#AddOrEditDiv'});
			$("#edit_name").focus();

		}else if(model == "edit"){
			$.ajax({
				url: urlPath + getBeanByIdPath+"?tmp=" + Math.round(Math.random() * 100000),
				data: { id: id },
				type: "post",
				dataType: "json",
				beforeSend: function () {
					L.loading(loadType);
				},
				success: function (data) {
					if (ajaxResponseValidate(data)) {
						if (data.code < 1) {
							L.msg.error(data.message,function(){L.loadingOff();});
							$("#TableFlexiGrid").flexReload();
						} else {

							var obj = data.data;
							$("#AddOrEditDivTitle").text("修改");
							$("#web_icon_image").val("");
							$("#web_icon_show").attr("src",obj.icon);
							$("#edit_imgurl").val(obj.icon);
							$("#iconwidth").text(obj.iconwidth);
							$("#iconheight").text(obj.iconheight);
							if (null!=obj.icon&&''!=obj.icon){
								$("#deletePicture").attr("src","../style/images/shan.gif");
							}
							$("#edit_name").val(obj.drname);
							$("#edit_number").val(obj.number);
							$("#edit_metering").val(obj.metering);
							changeUnit()
							$("#edit_unit").val(obj.unit);
							$("#AddOrEditDivConfirm").unbind();
							keyDownAction(function (event) {
								if (event.which == "13"){
									editBean(obj.drid, obj);
								}
							});
							$("#AddOrEditDivConfirm").click(function () {
								editBean(obj.drid, obj);
							});
							L.loadingOff();
							L.pop({content:'#AddOrEditDiv'});
						}
					}
				},
				error: function () {
					L.msg.error("[(${ajaxErrorInfo})]");
					L.loadingOff();
				}
			});
		}
	}

	/** 添加  */
	function addBean() {
		var bean = {};
		var result = checkBeanForm("add", bean, null);
		if(globalReturnFlag==result){
			return false;
		}else if(false==result){
			L.closeAll();
			return false;
		}
		$.ajax({
			url: urlPath + addPath+"?tmp=" + Math.round(Math.random() * 100000),
			data: bean,
			type: "post",
			dataType: "json",
			beforeSend: function () {
				L.closeAll();
				L.loading(loadType);
			},
			success: function (data) {
				L.loadingOff();
				if (ajaxResponseValidate(data)) {
					if (data.code < 1) {
						L.msg.error(data.message,function(){L.pop({content:'#AddOrEditDiv'});});
					} else {
						var mesaage = data.message+(null!=data.data?data.data:"");
						L.msg.success({content:mesaage,time:1000,position:'center'});
						$("#TableFlexiGrid").flexReload();
					}
				}
			},
			error: function () {
				L.msg.error("[(${ajaxErrorInfo})]");
				L.loadingOff();
			}
		});
	}

	/** 修改  */
	function editBean(Id, oldBean) {
		var bean = {};
		var result = checkBeanForm("edit", bean, oldBean);
		if(globalReturnFlag==result){
			return false;
		}else if(false==result){
			L.closeAll();
			return false;
		}
		bean["drid"] = Id;
		$.ajax({
			url: urlPath + updatePath+"?tmp=" + Math.round(Math.random() * 100000),
			data: bean,
			type: "post",
			dataType: "json",
			beforeSend: function () {
				L.closeAll();
				L.loading(loadType);
			},
			success: function (data) {
				L.loadingOff();
				if (ajaxResponseValidate(data)) {
					if (data.code < 1) {
						L.msg.error(data.message,function(){L.pop({content:'#AddOrEditDiv'});});
					} else {
						L.msg.success({content:data.message,time:1000,position:'center'});
						$("#TableFlexiGrid").flexReload();
					}
				}
			},
			error: function () {
				L.msg.error("[(${ajaxErrorInfo})]");
				L.loadingOff();
			}
		});
	}

	/** 删除 */
	function deleteLocation(Id, realName) {
		L.msg.confirm({content:"确定要删除 [" + realName + "] 吗？",yes:function(){
				$.ajax({
					url: urlPath + deletByIdPath+"?tmp=" + Math.round(Math.random() * 100000),
					data: {id: Id},
					type: "post",
					dataType: "json",
					beforeSend: function () {
						L.loading(loadType);
					},
					success: function (data) {
						L.loadingOff();
						if (ajaxResponseValidate(data)) {
							if (data.code < 1) {
								L.msg.error(data.message);
							} else {
								L.msg.success({content:data.message,time:1000,position:'center'});
								$("#TableFlexiGrid").flexReload();
							}
						}
					},
					error: function () {
						L.msg.error("[(${ajaxErrorInfo})]");
						L.loadingOff();
					}
				});
			}});
	}
	function deleteWebIcon(){
		L.msg.confirm({content:"确定删除图片吗？",yes:function(){
				L.closeAll();
				L.loading(loadType);
				$("#web_icon_show").removeAttr("src");
				$("#edit_imgurl").val("");
				$("#iconwidth").text('00');
				$("#iconheight").text('00');
				$("#deletePicture").removeAttr("src");
				L.loadingOff();
				L.pop({content:'#AddOrEditDiv'});
			}});
	}

	//验证添加/检查表单数据
	function checkBeanForm(mode, objBean, oldBean){
		var name = $.trim($("#edit_name").val());
		var number = $.trim($("#edit_number").val());
		var unit = $.trim($("#edit_unit").val());
		var metering = $.trim($("#edit_metering").val());
		var imgurl = $("#edit_imgurl").val();
		var width=$("#iconwidth").text();
		var height=$("#iconheight").text();
		var message = "";
		var changed = ("add"==mode);
		var modeFlag = ("edit"==mode);
		//开始验证参数
		message = checkStrParam(imgurl, 512, false);
		if(""!=message){
			L.msg.error("图片"+message); return globalReturnFlag;
		}
		message = checkStrParam(name, 49, false);
		if(""!=message){
			L.msg.error("参照物名称"+message); return globalReturnFlag;
		}
		message = checkStrParam(number, 10, false);
		if(""!=message){
			L.msg.error("数值"+message); return globalReturnFlag;
		}
		message = checkStrParam(metering, 10, true);
		if(""!=message){
			L.msg.error("测量类型"+message); return globalReturnFlag;
		}
		message = checkStrParam(unit, 20, false);
		if(""!=message){
			L.msg.error("单位"+message); return globalReturnFlag;
		}
		objBean["drname"] = name;
		objBean["icon"] = imgurl;
		objBean["iconwidth"] = width;
		objBean["iconheight"] = height;
		objBean["number"] = number;
		objBean["unit"] = unit;
		objBean["metering"] = metering;
		if (modeFlag && !changed){
			if (name != oldBean.drname) {changed = true;}
		}
		if (modeFlag && !changed){
			var beanlogo=oldBean.icon==null?'':oldBean.icon;
			if (!changed &&imgurl != beanlogo) {changed = true;}
		}
		if (modeFlag && !changed){
			var beannumber=oldBean.number==null?'':oldBean.number;
			if (!changed &&number != beannumber) {changed = true; }
		}
		if (modeFlag && !changed){
			var bmetering=oldBean.metering==null?'':oldBean.metering;
			if (!changed &&metering!=bmetering) {changed = true;}
		}
		if (modeFlag && !changed){
			var beanunit=oldBean.unit==null?'':oldBean.unit;
			if (!changed &&unit != beanunit) {changed = true;}
		}
		return changed;
	}

	/*]]>*/
</script>
</body>
</html>